/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/*============================ Table Of Content index page ==================================

1. Navbar
2. Banner
3. Counter
4. Popular
5. Feature
6. Testimonial
7. Instructor
8. Partner
9. News & Event
10. Become
11. Newsletter
12. Footer

=================================== elemnt content ==============================

1. Button Element
2. Form Element
3. Dropdown Element
4. Navber Element
5. Section heading Element
6. Subject Card Elemnt
7. Feature card Element

======================================================================*/
/*===================================
            GOOGLE FONTS
=====================================*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&amp;display=swap");
/*===================================
            ALL COMMON CSS
=====================================*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  line-height: 26px;
  overflow-x: hidden;
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 60px;
}

h2 {
  font-size: 40px;
  text-transform: capitalize;
}

h3 {
  font-size: 24px;
}

h4 {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}

a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
button:focus,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
  outline: none;
  -moz-outline: none;
}

img {
  vertical-align: middle;
}

ul,
ol {
  list-style: none;
  display: inline-block;
  margin-bottom: 0px;
}

a {
  display: inline-block;
}

html,
body {
  scroll-behavior: smooth;
}

.m-updown {
  margin: 65px 0px 30px;
}

.btn {
  background-color: #0eb582;
  padding: 14px 30px 15px 30px;
  border-radius: 36px;
  border: 2px solid #0eb582;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.btn:hover {
  color: #0eb582;
  background: #ffffff;
  border-color: #0eb582;
}

.btn i {
  margin-right: 10px;
}

.btn-outline-primary {
  color: #0eb582;
  background: #ffffff;
  margin-left: 20px;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background: #0eb582;
  border-color: #0eb582;
}

.form-inline {
  width: 100%;
  margin-left: 15px;
  border: 1px solid #4e5c77;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-inline .btn {
  color: #ffffff;
  border-radius: 0rem;
  padding: 0px 8px;
  border: none;
  background: transparent;
}

.form-control {
  width: 115px;
  border: none;
  border-radius: 0rem;
  padding: 0rem;
  height: 40px;
  background: transparent;
}

.form-control:focus {
  color: #ffffff !important;
  background-color: transparent;
  border-color: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.letter-form {
  width: 100%;
  padding: 7px;
  background: #ffffff;
  border-radius: 50px;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.letter-input {
  width: 100%;
  height: 50px;
  border: none;
  background: transparent;
  padding-left: 18px;
}

.letter-input::-webkit-input-placeholder {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.letter-input:-ms-input-placeholder {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.letter-input::-ms-input-placeholder {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.letter-input::placeholder {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}

.letter-form button {
  color: #ffffff;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 15px 35px;
  border-radius: 50px;
  background: #273c66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.letter-form button:hover {
  color: #ffffff;
  background: #0eb582;
}

.letter-form button i {
  margin-right: 8px;
}

.dropdown-menu {
  display: block;
  position: absolute !important;
  top: 120%;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 7px 15px 5px rgba(0, 0, 0, 0.15);
  visibility: hidden;
  opacity: 0;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

li .dropdown-item {
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding: 12px 100px 10px 25px;
  border-bottom: 1px solid #f5f5f5;
}

li .dropdown-item:focus {
  background: #f8f9fa;
}

li .dropdown-item:hover {
  color: #0eb582;
}

.new-item {
  color: red;
  font-size: 12px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.navbar {
  padding: 0px;
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-nav .active .nav-link {
  color: #0eb582;
}

.navbar-nav .active .nav-link::before {
  position: absolute;
  content: "";
  bottom: 25px;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #0eb582;
}

.nav-link {
  color: #ffffff;
  display: inline-block;
  padding: 36px 15px !important;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  position: relative;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.nav-link::after {
  display: none;
}

.nav-link i {
  font-size: 12px;
}

.nav-link:hover {
  color: #0eb582;
}

.nav-link:hover::before {
  position: absolute;
  content: "";
  bottom: 25px;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #0eb582;
}

.nav-item:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  top: 98%;
}

.header-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-item {
  margin-left: 18px;
  position: relative;
}

.icon-item:first-child {
  margin-left: 50px;
}

.icon-link-bar {
  font-size: 16px;
  color: #ffffff;
}

.icon-notify {
  padding: 1px 6px;
  line-height: 18px;
  border-radius: 30px;
  background: #0eb582;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: -5px;
  right: -5px;
}

.icon-link {
  font-size: 12px;
  color: #ffffff;
  width: 35px;
  height: 35px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #4e5c77;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.icon-link:hover {
  color: #ffffff;
  background: #0eb582;
}

.heading {
  border-right: 1px solid #d4d8e0;
}

.title {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  display: block;
  margin-bottom: 10px;
}

.heading-describe {
  margin-left: 10px;
  padding: 15px 0px;
}

.heading-btn {
  text-align: right;
  padding: 12px 0px;
}

.subject-card {
  width: 100%;
  padding: 50px 30px 45px;
  border-radius: 15px;
  border: 1px dashed #e8e8e8;
  background-color: #ffffff;
  text-align: center;
  position: relative;
}

.subject-card h3 {
  font-size: 22px;
  text-transform: capitalize;
}

.subject-card::before {
  background-color: #0eb582;
  content: "";
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  left: 0px;
  top: 0px;
  z-index: -1;
  border-radius: 6px;
  -webkit-transform: scale(0);
          transform: scale(0);
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.subject-card::after {
  background: url(../../images/subjects/bottom_bg.png);
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.subject-card:hover {
  -webkit-box-shadow: 0 30px 50px 0 rgba(51, 51, 51, 0.08);
          box-shadow: 0 30px 50px 0 rgba(51, 51, 51, 0.08);
  border-color: transparent;
}

.subject-card:hover::before {
  left: -15px;
  top: -15px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.subject-card:hover::after {
  right: -15px;
  bottom: -15px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.subject-card:hover .sub-img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.sub-img {
  margin-bottom: 27px;
  width: 120px;
  height: auto;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.feature-card {
  width: 100%;
  background: transparent;
  padding: 50px 50px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.feature-card:nth-child(1), .feature-card:nth-child(2), .feature-card:nth-child(3) {
  margin-bottom: 30px;
}

.feature-card:hover {
  background: #0eb582;
}

.feature-card:hover .feature-card-img {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.feature-card:hover .feature-card-title {
  color: #ffffff;
}

.feature-card:hover .feature-card-title::after {
  background: #ffffff;
}

.feature-card:hover .feature-card-heading a {
  color: #ffffff;
}

.feature-card:hover .feature-card-enroll {
  opacity: 1;
}

.feature-card:hover .feature-author {
  opacity: 1;
}

.feature-card:hover .feature-course-details {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.feature-card-img {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url(../../images/course/course_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  z-index: -1;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.feature-card-title {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #777777;
  text-transform: capitalize;
  margin-left: 15px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.feature-card-title::after {
  position: absolute;
  content: "";
  top: 48%;
  left: -15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background: #0eb582;
  border-radius: 50%;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.feature-card-heading a {
  color: #333333;
  margin-top: 10px;
  line-height: 30px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.feature-card-heading a:hover {
  text-decoration: none;
}

.feature-card-enroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
  opacity: 0;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.enroll-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.enroll-item:first-child {
  margin-right: 35px;
}

.enroll-item i {
  color: #ffffff;
  font-size: 14px;
  margin-right: 8px;
}

.enroll-item span {
  display: inline-block;
  text-transform: capitalize;
  color: #ffffff;
}

.feature-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  opacity: 0;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.author-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.author-name {
  font-size: 16px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
  color: #ffffff !important;
  text-transform: capitalize;
}

.feature-course-details {
  margin-top: 110px;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.feature-rating i {
  color: #eac11e;
  font-size: 14px;
  margin-right: 5px;
}

.feature-rating span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  display: inline-block;
  margin-bottom: 0px;
}

.feature-price {
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  border-radius: 50%;
  background: #273c66;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Rubik", sans-serif;
}

/*===================================
            HEADER SECTION
=====================================*/
.header-part {
  background: #273c66;
  height: 100px;
}

.header .container {
  max-width: 1325px;
}

.header .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fixed {
  position: fixed;
  width: 100%;
  z-index: 3;
  -webkit-box-shadow: 0px 15px 25px rgba(85, 85, 85, 0.2);
          box-shadow: 0px 15px 25px rgba(85, 85, 85, 0.2);
  background: #273c66;
}

.navbar-brand {
  padding: 22px 0px;
}

.header-logo {
  width: 170px;
  height: auto;
}

.header-middle {
  padding: 25px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-cat {
  position: relative;
}

.header-cat .btn {
  border-radius: 0px;
}

.header-cat:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.header-cat .btn {
  padding: 12px 20px;
  background: #1f3052;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
  border: none;
}

.header-cat .btn img {
  width: auto;
  height: 14px;
  margin-right: 8px;
  margin-bottom: 2px;
}

.header-cat .btn::after {
  display: none;
}

.dropdown-menu {
  top: 200%;
}

/*===================================
            FOOTER SECTION
=====================================*/
/*===================================
           INDEX BANNER SECTION
=====================================*/
.banner-part {
  padding: 180px 0px 200px;
  overflow: hidden;
  position: relative;
}

.banner-shape {
  position: absolute;
  bottom: -50%;
  right: -35px;
}

.banner-img {
  position: absolute;
  bottom: 65px;
  right: 5px;
  width: 38%;
}

.banner-content h1 span {
  margin-bottom: -12px;
}

.banner-content p {
  margin-top: 25px;
}

.banner-btn {
  margin-top: 45px;
}

/*===================================
           INDEX COUNTER SECTION
=====================================*/
.counter-part {
  background-image: url(../../images/counter/counter_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0px 20px;
}

.counter-div {
  text-align: center;
}

.counter-div p {
  margin-top: 2px;
}

.counter-number h3 {
  font-size: 36px;
  display: inline-block;
}

/*===================================
           INDEX POPULAR SECTION
=====================================*/
.popular-part {
  padding: 100px 0px;
}

/*===================================
           INDEX FEATURE SECTION
=====================================*/
.feature-part {
  background: url(../../images/course/main_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
}

.feature-heading {
  border-right: 1px solid #d4d8e0;
}

.feature-descrip {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-left: 10px;
  padding: 15px 0px;
}

.feature-btn {
  text-align: right;
  padding: 12px 0px;
}

.feature-menu {
  margin: 70px 0px 50px;
  background-color: #ffffff;
  width: 100%;
  border-radius: 15px;
}

.feature-menu .active {
  color: #0eb582;
}

.feature-menu .active::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 25px;
  height: 3px;
  background: #0eb582;
}

.menu {
  border: none;
  outline: none;
  background: none;
  font-size: 17px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #777777;
  cursor: pointer;
  padding: 20px 32px;
  position: relative;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.menu:hover {
  color: #0eb582;
}

.menu::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: 25px;
  background: #e9ebef;
}

.menu:last-child::after {
  display: none;
}

/*===================================
        INDEX TESTIMONIAL SECTION
=====================================*/
.testi-part {
  background: #ffffff;
  padding: 100px 0px 140px;
}

.testi-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testi-content .heading {
  width: 425px;
  border-right: 1px solid #d4d8e0;
}

.testi-content p {
  width: 320px;
  margin-left: 40px;
  padding: 15px 0px;
}

.testi-says {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-bottom: 25px;
  border-bottom: 1px solid #d4d8e0;
  position: relative;
}

.testi-says::before {
  position: absolute;
  content: "";
  bottom: -18px;
  left: 20%;
  border-right: transparent;
  border-top: transparent;
  border-left: 1px solid #d4d8e0;
  -webkit-transform: rotate(-42deg);
          transform: rotate(-42deg);
  width: 4px;
  height: 20px;
}

.testi-says::after {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 18%;
  right: 0;
  width: 15px;
  height: 15px;
  border-right: 1px solid #d4d8e0;
  border-top: 1px solid #fff;
}

.testi-says img {
  width: 22px;
  height: auto;
  margin-top: 7px;
  margin-right: 20px;
}

.testi-says p {
  font-size: 20px;
  line-height: 32px;
}

.testi-card {
  margin: 0px 25px;
}

.testi-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 40px;
  padding-bottom: 25px;
}

.testi-author img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 30px;
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.testi-author-info h4 {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  margin-bottom: 0px;
}

.testi-author-info p {
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 12px;
  margin-bottom: 0px;
}

.testi-slider {
  margin-top: 60px;
}

.testi-slider .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.testi-slider .slick-dots .slick-active button {
  border: 2px solid #0eb582;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: transparent;
}

.testi-slider .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.testi-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(111, 107, 107, 0.6);
  display: inline-block;
  opacity: .5;
  font-size: 0px;
  border: none;
  outline: none;
}

/*===================================
        INDEX INSTRUCTION SECTION
=====================================*/
.instruct-part {
  background: #f9fbff;
  padding: 100px 0px 140px;
}

.instruct-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.instruct-content .heading {
  width: 425px;
}

.instruct-content p {
  width: 320px;
  margin-left: 40px;
  padding: 15px 0px;
}

.instruct-slider .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.instruct-slider .slick-dots .slick-active button {
  border: 2px solid #0eb582;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: transparent;
}

.instruct-slider .slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.instruct-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(111, 107, 107, 0.6);
  display: inline-block;
  opacity: .5;
  font-size: 0px;
  border: none;
  outline: none;
}

.instruct-card {
  margin: 0px 25px;
  text-align: center;
  position: relative;
}

.instruct-card:hover .instruct-hover {
  height: 100%;
  visibility: visible;
  opacity: 1;
}

.instruct-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  background: #c1f3e6;
  overflow: hidden;
}

.instruct-img img {
  width: 100%;
  height: auto;
}

.instruct-name {
  margin-top: 35px;
}

.instruct-prof {
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 5px;
  padding-bottom: 25px;
}

.instruct-hover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
  border-radius: 15px;
  background: #0eb582;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.instruct-hover img {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 15px 15px;
}

.instruct-oly {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#273c66), color-stop(77%, rgba(39, 60, 102, 0)));
  background-image: linear-gradient(0deg, #273c66 0%, rgba(39, 60, 102, 0) 77%);
}

.instruct-cover {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  text-align: center;
}

.instruct-cover h3 {
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 35px;
}

.instruct-cover p {
  color: #c5d3eb;
  font-size: 14px;
  margin-top: 5px;
}

.instruct-cover ul {
  margin-top: 8px;
}

.instruct-cover ul li {
  display: inline-block;
  margin: 0px 10px;
}

.instruct-cover ul li a {
  color: #ffffff;
  font-size: 14px;
}

/*===================================
        INDEX PARTNER SECTION
=====================================*/
.partner-part {
  background: #ffffff;
  padding: 100px 0px;
}

.partner-heading {
  text-align: center;
}

.partner-heading p {
  width: 600px;
  margin: 20px auto 0px;
}

.partner-slider {
  margin-top: 60px;
}

.partner-slider a {
  margin: 0px 50px;
  text-align: center;
}

.partner-slider a:hover img {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.partner-slider a img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.partner-slider ul li button {
  display: none;
}

.dandik {
  position: absolute;
  top: 50%;
  right: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #0eb582;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.bamdik {
  position: absolute;
  top: 50%;
  left: -50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #0eb582;
  border-radius: 50%;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/*===================================
       INDEX NEWS & EVENT SECTION
=====================================*/
.news-part {
  background: url(../../images/news/news_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0px 100px;
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.news-content .heading {
  width: 320px;
}

.news-content p {
  width: 330px;
  margin-left: 40px;
  padding: 15px 0px;
}

.news-card {
  width: 100%;
  background: #ffffff;
  border-radius: 15px;
  border: 1px dashed #e8e8e8;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.news-card:hover {
  -webkit-box-shadow: 0 30px 50px 0 rgba(51, 51, 51, 0.08);
          box-shadow: 0 30px 50px 0 rgba(51, 51, 51, 0.08);
}

.news-card:hover .news-card-content .news-title {
  color: #0eb582;
}

.news-card:hover .news-card-content .news-more {
  color: #0eb582;
}

.news-card-content {
  padding: 45px 35px 45px 35px;
  border-radius: 0px 0px 15px 15px;
}

.news-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.news-meta span {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  position: relative;
  margin-left: 15px;
}

.news-meta span::before {
  position: absolute;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  content: "";
  background: #1dcc96;
}

.news-meta span:nth-child(1) {
  margin-right: 30px;
}

.news-title {
  color: #333333;
  line-height: 30px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.news-title:hover {
  text-decoration: none;
}

.news-card-content p {
  margin-top: 18px;
}

.news-more {
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
  margin-top: 22px;
}

.news-more:hover {
  color: #0eb582;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.news-more i {
  margin-right: 5px;
}

.event-list {
  padding: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dashed #c2c2c2;
}

.event-list:last-child {
  border-bottom: none;
}

.event-date {
  padding-right: 30px;
  padding-bottom: 30px;
  border-right: 1px dashed #c2c2c2;
}

.event-month {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
}

.event-day {
  color: #333333;
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

.event-content {
  padding-left: 30px;
}

.event-meta {
  color: #777777;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  position: relative;
  margin-left: 15px;
  margin-bottom: 8px;
}

.event-meta::before {
  position: absolute;
  left: -15px;
  top: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  content: "";
  background: #1dcc96;
}

.event-title {
  color: #333333;
  line-height: 30px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.event-title:hover {
  color: #0eb582;
  text-decoration: none;
}

.news-card-img {
  overflow: hidden;
}

.news-card-img:hover a img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news-card-img a img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0px 0px;
  -webkit-transform: scale(1);
          transform: scale(1);
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

/*===================================
        INDEX INTRO SECTION
=====================================*/
.intro-part {
  padding: 100px 0px 0px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#f0fffa));
  background-image: linear-gradient(360deg, #ffffff 0%, #f0fffa 100%);
}

.intro-part .container {
  max-width: 1380px !important;
}

.intro-part .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.intro-part .container .row::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1px;
  height: 250px;
  background: #e5e5e5;
}

.intro {
  width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro img {
  width: 230px;
  height: auto;
  margin-right: 40px;
}

.intro-content h3 {
  font-size: 36px;
}

.intro-content p {
  font-size: 18px;
  margin-top: 22px;
  margin-bottom: 30px;
}

/*===================================
        INDEX NEWSLETTER SECTION
=====================================*/
.newsletter-part .container {
  background: #0eb582;
  border-radius: 15px;
  padding: 60px 100px 52px;
  position: relative;
  z-index: 1;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.newsletter-part .container::before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(../../images/newsletter/main_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.letter-content h2 {
  color: #ffffff;
}

.letter-content h2 span {
  color: #ffffff;
}

.letter-form {
  margin-top: 25px;
}

/*===================================
        INDEX FOOTER SECTION
=====================================*/
.footer-part {
  background: #273c66;
  padding: 225px 0px 50px;
}

.footer-widget {
  margin-bottom: 40px;
}

.footer-widget h4 {
  margin-bottom: 12px;
}

.footer-widget ul {
  margin-left: 15px;
}

.footer-widget ul li {
  line-height: 35px;
  position: relative;
}

.footer-widget ul li::before {
  position: absolute;
  content: "";
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 6px;
  height: 2px;
  background: #405989;
}

.footer-widget ul li:last-child {
  margin-bottom: 0px !important;
}

.footer-widget ul li a {
  color: #777777;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  color: #a5b7d9;
  text-transform: capitalize;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.footer-widget ul li a:hover {
  color: #0eb582;
}

.footer-end {
  border-top: 1px solid #3a5282;
  padding-top: 40px;
}

.footer-end-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-end-content a img {
  width: 150px;
  height: auto;
  margin-right: 40px;
}

.footer-end-content p {
  color: #ffffff;
  margin-bottom: 0px;
}

.footer-end-content p a {
  color: #0eb582;
  display: inline-block;
  margin-bottom: 0px;
}

.footer-icon {
  margin-top: 32px;
}

.footer-icon a {
  color: #ffffff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid #405989;
  margin-right: 10px;
  transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -moz-transition: all linear .3s;
  -ms-transition: all linear .3s;
  -o-transition: all linear .3s;
}

.footer-icon a:last-child {
  margin-right: 0px;
}

.footer-icon a:hover:nth-child(1) {
  background: #1877f2;
}

.footer-icon a:hover:nth-child(2) {
  background: #21a2f2;
}

.footer-icon a:hover:nth-child(3) {
  background: #006097;
}

.footer-icon a:hover:nth-child(4) {
  background: #f78930;
}

.footer-end-menu li {
  display: inline-block;
}

.footer-end-menu li a {
  color: #ffffff;
  margin-left: 35px;
  text-transform: capitalize;
}

.footer-end-menu li:first-child a {
  margin-left: 0px;
}

.footer-end-menu li:last-child a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #0eb582;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */