/*===========================================
Author Name : Md Mahmudul Hasan (Miron)
Template Type : Personal Portfolio
Email : mironbonny1994@gmail.com
Phone : +8801838288389
Brand Color : #01e292;
font : 'Public Sans'
Icon : Flat Icon
Version : 1.04
-----------------------------


Table of content index page
-----------------------------
01. NAVBAR MENU PART
02. BANNER PART
03. SERVICE PART
04. SKILL PART
05. ABOUT PART
06. EXPERIENCE PART
07. PORTFOLIO PART
08. PRICE PART
09. BLOG PART
10. CONTACT PART
11. FOOTER PART
============================================*/


/*=========================================
           COMMON CSS PART START
==========================================*/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,200,300,400,500,600,700,800,900|Lemon|Noto+Serif:400,700|Poppins:100,200,300,400,500,600,700,800,900|Public+Sans:100,200,300,400,500,600,700,800,900&amp;display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

img{
    vertical-align: middle;
}

ul,
ol{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    display: inline-block;
}

a:hover{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li{
    margin-bottom: 0px !important;
}

p{
    letter-spacing: 0.5px;
}

html,
body{
    scroll-behavior: smooth;
}
/*=========================================
           COMMON CSS PART START
==========================================*/


/*=========================================
       BACK TO TOP BUTTON PART START
==========================================*/
.top-btn{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1;
    display: none;
}

.top-btn a i{
    display: inline-block;
    font-size: 30px;
    color: #070f22;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(to bottom, #01e292 0%, #14a270 100%);
    box-shadow: 0px 0px 15px 3px rgba(1, 226, 146, 0.5);
    animation: miron 2s infinite;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

@keyframes miron {
    0%{
        margin-bottom: 0px;
    }50%{
        margin-bottom: 25px;
    }
}
/*=========================================
        BACK TO TOP BUTTON PART END
==========================================*/


/*=========================================
            PRELOADER PART START
==========================================*/
.preloader{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #01e292;
    text-align: center;
    z-index: 9999;
}

.preloader-cover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader img{
    width: 100px;
    height: auto;
}

.preloader h1{
    color: #108058;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid transparent;
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid #fff;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}

.load-finish{
    display: none;
}
/*=========================================
            PRELOADER PART END
==========================================*/


/*=========================================
           NAVBAR MENU PART START
==========================================*/
.navbar{
    position: absolute !important;
    top: 0px;
    left: 0px;
    width: 100%;
    background: transparent;
    z-index: 999;
}

.menu-fixed{
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    background: #040114;
    z-index: 999;
    box-shadow: 0px 5px 5px rgba(85, 85, 85, 0.3);
}

.navbar a img{
    width: 80px;
    height: auto;
}

.navbar ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    display: inline-block;
    margin-left: 25px;
    position: relative;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar ul li a:hover{
    color: #01e292;
}

.navbar ul li a:after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 3px solid rgba(1, 226, 146, 0.3);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar ul li a:before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(1, 226, 146, 0.5);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar ul li a:hover:after{
    width: 40px;
    height: 40px;
    visibility: visible;
    opacity: 1;
}

.navbar ul li a:hover:before{
    width: 47px;
    height: 47px;
    visibility: visible;
    opacity: 1;
}

.navbar ul li.active a:after{
    width: 40px;
    height: 40px;
    visibility: visible;
    opacity: 1;
}

.navbar ul li.active a:before{
    width: 47px;
    height: 47px;
    visibility: visible;
    opacity: 1;
}

.navbar ul li.active a{
    color: #01e292;
}
/*=========================================
           NAVBAR MENU PART END
==========================================*/


/*=========================================
              BANNER PART START
==========================================*/
#particles-js {
    background-image: url("../images/banner/br-bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    height: 700px !important;
    background-position: 50% 50%;
    position: relative;
    z-index: 1;
}

.banner-part{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(7, 15, 34, 0.6);
}

.banner-text{
    text-align: center;
    position: absolute;
    top: 387px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 620px;
}

.banner-text h1{
    color: #01e292;
    font-size: 52px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
}

.banner-text h1 span{
    display: block;
}

.banner-text p{
    width: 470px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    margin: 18px auto 0px;
}

.banner-text a{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    padding: 12px 25px;
    border: 2px solid #01e292;
    border-radius: 50px;
    margin-top: 55px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.banner-text a:hover{
    color: #fff;
    background: #01e292;
    text-decoration: none;
}
/*=========================================
              BANNER PART END
==========================================*/


/*=========================================
             SERVICE PART START
==========================================*/
#service-part{
    background: #070f22;
    padding: 94px 0px;
}

.service-heading{
    margin-bottom: 55px;
    text-align: center;
}

.service-heading h2{
    color: #01e292;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
}

.service-heading p{
    width: 350px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    margin: 10px auto 0px;
    position: relative;
}

.service-heading p:after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.service-heading p:before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.service-type{
    text-align: center;
    width: 100%;
    padding: 58px 60px 38px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(85, 85, 85, 0.5);
}

.service-ghape{
    margin-bottom: 30px;
}

.service-type i{
    color: #01e292;
    font-size: 42px;
    line-height: 0px;
}

.service-type h4{
    color: #01e292;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    margin-top: 10px;
}

.service-type p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    margin-top: 22px;
}
/*=========================================
             SERVICE PART END
==========================================*/


/*=========================================
             SKILL PART START
==========================================*/
#skill-part{
    background: #070f22;
    padding: 98px 0px;
}

.skill-heading{
    margin-bottom: 65px;
    text-align: center;
}

.skill-heading h2{
    color: #01e292;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
}

.skill-heading p{
    width: 250px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    margin: 10px auto 0px;
    position: relative;
}

.skill-heading p:after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.skill-heading p:before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.skill-type {
    text-align: center;
}

.skill-type span{
    display: inline-block;
}

.skill-parent-circle{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 10px solid #01e292;
    position: relative;
}

.skill-child-circle{
    width: 80px;
    height: 80px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background: #070f22;
    border: 10px solid #01e292;
    position: absolute;
    top: -25px;
    left: 0px;
}

.skill-number{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
}

.skill-percent{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: sans-serif;
}

.skill-type h3{
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    margin-top: 18px;
}

.skill-type h3 span{
    display: block;
}
/*=========================================
             SKILL PART END
==========================================*/


/*=========================================
             ABOUT PART START
==========================================*/
#about-part{
    background: #070f22;
    padding: 90px 0px 100px;
}

.about-img{
    text-align: center;
}

.about-img img{
    width: auto;
    height: auto;
}

.about-text{
    padding-left: 50px;
}

.about-text h2{
    color: #01e292;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
}

.about-para{
    width: 560px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    margin-top: 17px;
}

.about-details{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.about-details ul li{
    display: flex;
    align-items: baseline;
    margin-bottom: 18px !important;
}

.about-details ul li:last-child{
    margin-bottom: 0px !important;
}

.about-details ul li h3{
    color: #01e292;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
}

.about-details ul li p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    margin-left: 15px;
}

.about-text  a{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    padding: 12px 25px;
    border: 2px solid #01e292;
    border-radius: 50px;
    margin-top: 65px;
    margin-right: 10px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.about-text a:hover{
    color: #fff;
    background: #01e292;
    text-decoration: none;
}
/*=========================================
             ABOUT PART END
==========================================*/


/*=========================================
            EXPERIENCE PART START
==========================================*/
#ex-part{
    background: #070f22;
    padding: 86px 0px 100px;
}

.ex-heading{
    display: flex;
    align-items: baseline;
    margin-bottom: 47px;
}

.ex-heading i{
    color: #01e292;
    font-size: 50px;
    margin-right: 5px;
}

.ex-heading h2{
    color: #01e292;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
}

.ex-details{
    position: relative;
    margin-bottom: 60px;
}

.ex-details:last-child{
    margin-bottom: 0px;
}

.ex-shape{
    width: 2px;
    height: 170px;
    background: #01e292;
    position: absolute;
}

.ex-shape:after{
    position: absolute;
    content: "";
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #01e292;
}

.ex-shape:before{
    position: absolute;
    content: "";
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #01e292;
}

.ex-content {
    margin-left: 20px;
}

.ex-content span{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
}

.ex-content h3{
    color: #01e292;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    margin-top: 15px;
}

.ex-content h4{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    margin-top: 20px;
}

.ex-content p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    margin-top: 20px;
}
/*=========================================
            EXPERIENCE PART END
==========================================*/


/*=========================================
            PORTFOLIO PART START
==========================================*/
#prot-part{
    background: #070f22;
    padding: 104px 0px 100px;
}

.prot-heading{
    margin-bottom: 55px;
    text-align: center;
}

.prot-heading h2{
    color: #01e292;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
}

.prot-heading p{
    width: 300px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    margin: 10px auto 0px;
    position: relative;
}

.prot-heading p:after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.prot-heading p:before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.prot-main{
    width: 100%;
    padding: 30px;
    background: #272b42;
    border-radius: 10px;
    position: relative;
    margin: 0px 15px;
}

.prot-overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(1, 226, 146, 0.7);
    transform: scale(0);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.prot-main:hover .prot-overlay{
    transform: scale(1);
    transform-origin: center;
}

.prot-overlay-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 120px;
}

.prot-overlay-content a i{
    color: #fff;
    font-size: 24px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    background: #1f2234;
    border: 2px solid #01e292;
    margin-bottom: 25px;
}

.prot-overlay-content h4{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
}

.prot-img{
    height: 350px;
    overflow: hidden;
}

.prot-img img{
    width: 100%;
    height: auto;
}

.prot-plugin ul li button{
    display: none;
}

.dandik{
    position: absolute;
    top: -80px;
    right: 15px;
    border: 2px solid #01e292;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.bamdik{
    position: absolute;
    top: -80px;
    left: 15px;
    border: 2px solid #01e292;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.dandik:hover,
.bamdik:hover{
    color: #fff;
    background: #01e292;
}

.port-btn{
    text-align: center;
}

.port-btn a{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 50px;
    border: 2px solid #01e292;
    margin-top: 35px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.port-btn a:hover{
    color: #fff;
    background: #01e292;
    text-decoration: none;
}
/*=========================================
            PORTFOLIO PART END
==========================================*/


/*=========================================
             PRICE PART START
==========================================*/
#price-part{
    background: #070f22;
    padding: 95px 0px;
}

.price-heading{
    margin-bottom: 50px;
    text-align: center;
}

.price-heading h2{
    color: #01e292;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
}

.price-heading p{
    width: 340px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    margin: 10px auto 0px;
    position: relative;
}

.price-heading p:after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.price-heading p:before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.price-card{
    text-align: center;
    padding: 30px 30px;
    border-radius: 10px;
    border: 2px solid #01e292;
}

.price-card h3{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 15px !important;
}

.price-card h4{
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.price-card p{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    margin-bottom: 35px !important;
}

.price-card ul li{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    margin-bottom: 25px !important;
}

.price-btn a{
    display: inline-block;
    color: #01e292;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 50px;
    border: 2px solid #01e292;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.price-btn a:hover{
    color: #fff;
    background: #01e292;
    text-decoration: none;
}
/*=========================================
              PRICE PART END
==========================================*/


/*=========================================
              BLOG PART START
==========================================*/
#blog-part{
    background: #070f22;
    padding: 100px 0px;
}

.blog-heading{
    margin-bottom: 50px;
    text-align: center;
}

.blog-heading h2{
    color: #01e292;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
}

.blog-heading p{
    width: 370px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    margin: 10px auto 0px;
    position: relative;
}

.blog-heading p:after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.blog-heading p:before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.blog-slider ul li button{
    display: none;
}

.blog-card{
    position: relative;
    margin: 0px 15px;
    z-index: 1;
}

.blog-img img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog-text{
    background: #fff;
    padding: 25px 15px 25px;
}

.blog-text p{
    color: #555;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
}

.blog-text h3{
    color: #444;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blog-card:hover .blog-text h3{
    color: #01e292;
}

.blog-read-btn{
    margin-top: 20px;
    position: relative;
    display: inline-block;
}

.blog-read-btn a{
    display: inline-block;
    color: #01e292;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blog-read-btn a:hover{
    color: #01e292;
    margin-left: 10px;
    text-decoration: none;
}

.blog-read-btn i{
    position: absolute;
    top: 6px;
    right: -20px;
    color: #01e292;
    font-size: 16px;
}

.blog-icon{
    width: 100%;
    height: 60px;
    background: #fff;
    border-top: 1px solid #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-react{
    display: flex;
    align-items: baseline;
    position: relative;
}

.blog-react:after{
    position: absolute;
    content: "";
    top: 50%;
    right: -23px;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background: #bbb;
}

.blog-react:last-child:after{
    background: none;
}

.blog-react i{
    color: #777;
    font-size: 14px;
    margin-right: 3px;
}

.blog-react p{
    color: #777;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
}

.blog-btn{
    text-align: center;
}

.blog-btn a{
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    padding: 12px 25px;
    border-radius: 50px;
    border: 2px solid #01e292;
    margin-top: 35px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blog-btn a:hover{
    color: #fff;
    background: #01e292;
    text-decoration: none;
}
/*=========================================
              BLOG PART END
==========================================*/


/*=========================================
             CONTACT PART START
==========================================*/
#contact-part{
    background: #070f22;
    padding: 93px 0px;
}

.contact-heading{
    text-align: center;
    margin-bottom: 50px;
}

.contact-heading h2{
    color: #01e292;
    font-size: 32px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
}

.contact-heading p{
    width: 380px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    margin: 10px auto 0px;
    position: relative;
}

.contact-heading p:after{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.contact-heading p:before{
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -40px;
    width: 40px;
    height: 2px;
    background: #01e292;
}

.contact-address{
    width: 100%;
    height: 160px;
    padding: 0px 20px;
    border-radius: 5px;
    background: #272b42;
    border: 1px solid #272b42;
    margin-bottom: 30px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-address:last-child{
    margin-bottom: 0px !important;
}

.address-text h3{
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
}

.address-text h4{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    margin-top: 22px;
}

.address-text h5{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    margin-top: 8px;
}

.address-icon i{
    color: #01e292;
    font-size: 50px;
}

.contact-form input{
    display: block;
    border: none;
    outline: none;
    background: #272b42;
    padding: 0px 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    height: 55px;
    width: 100%;
    color: #fff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
    text-transform: capitalize;
    font-style: italic;
    font-size: 16px;
    color: #bbb;
}

.contact-form textarea{
    display: block;
    border: none;
    outline: none;
    resize: none;
    background: #272b42;
    padding: 15px 15px 0px;
    margin-bottom: 30px;
    border-radius: 5px;
    height: 200px;
    width: 100%;
    color: #fff;
}

.contact-form button{
    display: block;
    border: none;
    outline: none;
    background: #272b42;
    padding: 12px 30px;
    border: 2px solid #01e292;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.contact-form button:hover{
    color: #fff;
    background: #01e292;
}
/*=========================================
              CONTACT PART END
==========================================*/


/*=========================================
             FOOTER PART START
==========================================*/
#footer-part{
    background: #070f22;
    padding: 100px 0px;
}

.footer-logo{
    text-align: center;
    margin-bottom: 30px;
}

.footer-logo a img{
    width: 80px;
    height: auto;
}

.footer-menu ul{
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.footer-menu ul li{
    margin: 0px 15px 55px !important;
}

.footer-menu ul li a i{
    color: #fff;
    font-size: 18px;
    width: 50px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid #01e292;
    position: relative;
    z-index: 1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.footer-menu ul li a i:hover{
    color: #fff;
    background: #01e292;
    text-decoration: none;
}

.copy-text{
    text-align: center;
}

.copy-text p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Public Sans', sans-serif;
}

.copy-text p span{
    color: #01e292;
}
/*=========================================
              FOOTER PART END
==========================================*/
































