	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/12/2019 16:43
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-data:before { content: "\f100"; }
.flaticon-computer-graphic:before { content: "\f101"; }
.flaticon-app-development:before { content: "\f102"; }
.flaticon-searching-magnifying-glass:before { content: "\f103"; }
.flaticon-link-symbol:before { content: "\f104"; }
.flaticon-favorite-heart-button:before { content: "\f105"; }
.flaticon-trophy:before { content: "\f106"; }
.flaticon-star:before { content: "\f107"; }
.flaticon-cup-of-drink:before { content: "\f108"; }
.flaticon-facebook-logo:before { content: "\f109"; }
.flaticon-twitter:before { content: "\f10a"; }
.flaticon-linkedin:before { content: "\f10b"; }
.flaticon-dribbble-logo:before { content: "\f10c"; }
.flaticon-behance:before { content: "\f10d"; }
.flaticon-speech-bubbles-comment-option:before { content: "\f10e"; }
.flaticon-share-option:before { content: "\f10f"; }
.flaticon-user:before { content: "\f110"; }
.flaticon-calendar:before { content: "\f111"; }
.flaticon-arrow-pointing-to-right:before { content: "\f112"; }
.flaticon-light:before { content: "\f113"; }
.flaticon-research:before { content: "\f114"; }
.flaticon-support:before { content: "\f115"; }