/*================================================
             COMMON CSS PART START
=================================================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Ubuntu:300,400,500,700&amp;display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a{
    text-decoration: none !important;
}

a:hover{
    text-decoration: none !important;
}

img{
    vertical-align: middle;
}

ul,
ol{
    list-style: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li{
    margin: 0 !important;
    padding: 0 !important;
}

html,
body{
    scroll-behavior: smooth;
}

h3{
    color: #1675ac !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    font-family: 'Ubuntu', sans-serif !important;
    text-transform: capitalize !important;
}

p{
    color: #444;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 24px !important;
}
/*================================================
               COMMON CSS PART END
=================================================*/



/*================================================
              PRELOADER PART START
=================================================*/
.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 3;
}

.dots .dot {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 0 10px 0 10px;
    border-radius: 50%;
    background: linear-gradient(to left, #1675a9 0%, #44b3ef 100%);
    -webkit-animation: dot-dot-dot 1.4s linear infinite;
    animation: dot-dot-dot 1.4s linear infinite;
}

.dots .dot:nth-child(2) {
    animation-delay: .2s;
}

.dots .dot:nth-child(3) {
    animation-delay: .4s;
}

@keyframes dot-dot-dot {

    0%,
    60%,
    100% {
        -webkit-transform: initial;
        -ms-transform: initial;
        transform: initial;
    }

    30% {
        -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
        transform: translateY(-25px);
    }
}

.load_finish{
    display: none;
}
/*================================================
              PRELOADER PART END
=================================================*/



/*================================================
              BACK BUTTON PART START
=================================================*/
.back_btn{
    display: none;
}

.back_btn a i{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    background: linear-gradient(to top, #1675a9 0%, #44b3ef 100%);
    box-shadow: 0px 5px 15px 3px rgba(68, 179, 239, 0.3);
}
/*================================================
              BACK BUTTON PART END
=================================================*/



/*================================================
               MENU PART START
=================================================*/
.navbar{
    position: absolute !important;
    top: 15px !important;
    width: 100%;
    z-index: 1;
}

.menu_fix{
    position: fixed !important;
    top: 0px !important;
    left: 0px;
    width: 100%;
    z-index: 2;
    padding: 20px 15px !important;
    background: linear-gradient(to top, #1778ad 0%, #239ddf 100%);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
}

.navbar a img{
    width: 87px;
    height: auto;
}

.navbar ul li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-left: 22px;
    padding: 2px 12px !important;
    border-radius: 20px !important;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.navbar ul li a:hover{
    color: #1675a9;
    background: #fff;
}
/*================================================
               MENU PART END
=================================================*/



/*================================================
                BANNER PART START
=================================================*/
#banner_part{
    background: linear-gradient(to top, #1778ad 0%, #239ddf 100%);
    padding: 76px 0px 76px;
}

.banner_img img{
    width: 100%;
    height: auto; 
}

.banner_text{
    padding-top: 179px;
}

.banner_text h4{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    line-height: 0px;
    margin-bottom: 8px !important;
}

.banner_text h1{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 22px !important;
}

.banner_text p{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    margin-bottom: 54px !important;
}

.banner_text a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 40px;
    margin-right: 25px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.banner_text a.banner_btn {
    color: #fff;
    background: #146899;
    border-color: #44b3ef;
    box-shadow: 0px 5px 15px 3px #106db1;
}

.banner_text a:hover{
    color: #fff;
    background: #146899;
    border-color: #44b3ef;
    box-shadow: 0px 5px 15px 3px #106db1;
}
/*================================================
                BANNER PART END
=================================================*/



/*================================================
                CHOOSE PART START
=================================================*/
#choose_part{
    background: #f0f0f0;
    padding: 94px 0px 60px;
}

.choose_heading{
    text-align: center;
    margin-bottom: 58px !important;
}

.choose{
    width: 100%;
    padding: 18px 26px 25px 26px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.choose:hover{
    border: 1px solid #44b3ef;
    box-shadow: 0px 20px 15px 8px rgba(68, 179, 239, 0.15);
}

.choose img{
    margin-bottom: 17px;
}

.choose h4{
    color: #222;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 8px !important;
}
/*================================================
                CHOOSE PART END
=================================================*/



/*================================================
                ABOUT PART START
=================================================*/
#about_part{
    background: #fff;
    padding: 95px 0px 55px;
}

.about_img img{
    width: 100%;
    height: auto;
}

.about_text h3{
    margin-bottom: 47px !important;
}

.about_text h4{
    color: #222;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 22px !important;
}

.about_text p span{
    display: block;
    margin-top: 23px;
}

.about_text a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    width: 140px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    border: 1px solid #44b3ef;
    border-radius: 40px;
    margin-top: 55px;
    background: #146899;
    box-shadow: 0px 5px 15px 3px rgba(16, 109, 177, 0.3);
}

.about_text a:hover{
    color: #fff;
}
/*================================================
                ABOUT PART END
=================================================*/



/*================================================
                SERVICE PART START
=================================================*/
#service_part{
    background: #f0f0f0;
    padding: 55px 0px 60px;
}

.service_heading{
    text-align: center;
    margin-bottom: 52px !important;
}

.service{
    width: 100%;
    padding: 20px 26px 25px 26px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.service:hover{
    border: 1px solid #44b3ef;
    box-shadow: 0px 18px 15px 8px rgba(68, 179, 239, 0.15);
}

.service img{
    margin-bottom: 17px;
}

.service h4{
    color: #222;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 8px !important;
}

.service_btn{
    text-align: center;
}

.service_btn a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    width: 140px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    border: 1px solid #44b3ef;
    border-radius: 40px;
    margin-top: 60px;
    background: #146899;
    box-shadow: 0px 5px 15px 3px rgba(16, 109, 177, 0.3);
}

.service_btn a:hover{
    color: #fff;
}
/*================================================
                SERVICE PART END
=================================================*/



/*================================================
              PROTFOLIO PART START
=================================================*/
#prot_part{
    background: #fff;
    padding: 95px 0px 100px;
}

.prot_heading {
    text-align: center;
    margin-bottom: 50px;
}

.prot_btn{
    text-align: center;
    margin-bottom: 55px;
}

.prot_btn button{
    border: none;
    background: none;
    color: #ccc;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    position: relative;
    margin: 0px 9px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.prot_btn button.active{
    color: #1675a9;
}

.prot_btn button:hover{
    color: #1675a9;
}

.prot_btn button{
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.prot_btn button:after{
    position: absolute;
    content: "";
    top: 4px;
    right: -13px;
    width: 2px;
    height: 20px;
    background: #ccc;
}

.prot_btn button:last-child:after{
    background: none;
}

.prot_md {
    width: 100%;
    height: 370px;
    position: relative;
}

.prot_sm {
    width: 100%;
    height: 330px;
    position: relative;
}

.prot_lg{
    width: 100%;
    height: 500px;
    position: relative;
}

.prot_xsm{
    width: 100%;
    height: 200px;
    position: relative;
}

.prot_md img,
.prot_sm img,
.prot_lg img,
.prot_xsm img {
    width: 100%;
    height: 100%;
}

.prot_ghape{
    margin-top: 30px;
}

.prot_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    background: rgba(68, 179, 239, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.prot_lg:hover .prot_overlay, 
.prot_md:hover .prot_overlay, 
.prot_sm:hover .prot_overlay, 
.prot_xsm:hover .prot_overlay {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.prot_overlay a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #1675a9;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.prot_overlay a i:hover {
    color: #1675a9;
    background: #fff;
}

.prot_brows{
    text-align: center;
}

.prot_brows a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    width: 140px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    border: 1px solid #44b3ef;
    border-radius: 40px;
    margin-top: 60px;
    background: #146899;
    box-shadow: 0px 5px 15px 3px rgba(16, 109, 177, 0.3);
}

.prot_brows a:hover{
    color: #fff;
}
/*================================================
              PROTFOLIO PART END
=================================================*/



/*================================================
                COUNTER PART END
=================================================*/
#counter_part{
    background: linear-gradient(to top, #1778ad 0%, #239ddf 100%);
    padding: 60px 0px;
}

.counter{
    text-align: center;
    padding: 20px 0px 26px;
    border: 2px solid #fff;
}

.counter i{
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.counter h4{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 3px !important;
}

.counter h5{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}
/*================================================
                COUNTER PART END
=================================================*/



/*================================================
                EXPERT PART START
=================================================*/
#expert_part{
    background: #fff;
    padding: 90px 0px 100px;
}

.expert_heading{
    text-align: center;
    margin-bottom: 60px;
}

.expert{
    width: 100%;
    padding: 0px;
    border: 1px solid #ccc;
    text-align: center;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.expert:hover{
    border: 1px solid #44b3ef;
    box-shadow: 0px 18px 15px 8px rgba(68, 179, 239, 0.15);
}

.expert_img{
    width: 100%;
    height: 265px;
    position: relative;
}

.expert_img img{
    width: 100%;
    height: 100%;
}

.expert_overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(68, 179, 239, 0.6);
    width: 100%;
    height: 0%;
    visibility: hidden;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.expert:hover .expert_overlay{
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.expert_icon{
    width: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.expert_icon ul li{
    display: inline-block;
    margin: 0px 2px !important;
}

.expert_icon ul li a i{
    display: inline-block;
    color: #222;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.expert_icon ul li a i:hover{
    background: #146899;
    color: #fff;
}

.expert h4{
    color: #222;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin: 15px 0px 6px !important;
}

.expert p{
    color: #222;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 15px !important;
}
/*================================================
                EXPERT PART END
=================================================*/




/*================================================
                FEEDBACK PART START
=================================================*/
#feedback_part{
    background: #f0f0f0;
    padding: 53px 0px 97px;
}

.feedback_heading{
    text-align: center;
    margin-bottom: 55px;
}

.feedback{
    text-align: center;
    padding: 30px 30px;
    background: #fff;
    border: 1px solid #ccc;
    position: relative;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.feedback:hover{
    border: 1px solid #44b3ef;
    box-shadow: 0px 18px 15px 8px rgba(68, 179, 239, 0.15);
}

.slick-slide {
    margin: 0 15px;
}

.qoute i{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 99px;
    color: #e9e9e9;
}

.feedback img{
    width: 60px;
    height: auto;
    margin-bottom: 15px;
    display: inherit;
}

.feedback h4{
    color: #222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 6px !important;
}

.feedback h5{
    color: #222;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.star_rating i{
    font-size: 16px;
    display: inline-block;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.feedback:hover .star_rating i{
    color: #1675a9;
}

.feedback_slider ul{
    position: absolute;
    bottom: -52px;
    left: 50%;
    transform: translateX(-50%);
}

.feedback_slider ul li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #222;
    margin: 0px 3px !important;
}

.feedback_slider button{
    font-size: 0px;
    border: none;
    background: none;
}

.feedback_slider ul li.slick-active{
    background: #1675a9;
}

/*================================================
                FEEDBACK PART END
=================================================*/



/*================================================
                PRICE PART START
=================================================*/
#price_part{
    background: #fff;
    padding: 95px 0px 100px;
}

.price_heading{
    text-align: center;
    margin-bottom: 60px;
}

.price{
    width: 100%;
    padding: 25px 60px 30px;
    border: 1px solid #ccc;
    background: #fffcfc;
    text-align: center;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.price:hover{
    border: 1px solid #44b3ef;
    box-shadow: 0px 18px 15px 8px rgba(68, 179, 239, 0.15);
}

.price h4,
.price h5{
    color: #444;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.price h4{
    margin-bottom: 10px !important;
}

.price h6{
    color: #444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 50px !important;
    position: relative;
}

.price h6:after{
    position: absolute;
    content: "";
    left: 0px;
    bottom: -25px;
    width: 100%;
    height: 1px;
    background: #ccc;
}

.price ul li{
    color: #979898;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 27px !important;
}

.price a{
    display: block;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    width: 122px;
    height: 43px;
    color: #fff;
    line-height: 43px;
    text-align: center;
    border-radius: 40px;
    background: #1675a9;
    margin: 0 auto;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.price:hover a {
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 5px 15px 5px rgba(68, 179, 239, 0.5);
}
/*================================================
                PRICE PART END
=================================================*/



/*================================================
                BLOG PART START
=================================================*/
#blog_part{
    background: #f0f0f0;
    padding: 55px 0px 60px;
}

.blog_heading{
    text-align: center;
    margin-bottom: 57px;
}

.blog{
    text-align: center;
    background: #fff;
    width: 100%;
    padding: 0px 0px 25px;
    border: 1px solid #ccc;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.blog:hover{
    border: 1px solid #44b3ef;
    box-shadow: 0px 18px 15px 8px rgba(68, 179, 239, 0.15);
}

.blog img{
    width: 100%;
    height: auto;
}

.blog ul li{
    display: inline-block;
    margin: 25px 35px 3px !important;
}

.blog ul li i,
.blog_admin i,
.blog_date i{
    display: inline-block;
    color: #777;
    font-size: 14px;
}

.blog ul li p,
.blog_admin p,
.blog_date p{
    color: #777 !important;
    display: inline-block;
    font-size: 14px !important;
    text-transform: capitalize;
}

.blog h4{
    color: #222;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 3px !important;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.blog:hover h4{
    color: #1675a9;
}

.blog_admin,
.blog_date{
    display: inline-block;
    margin: 0px 30px 12px;
}

.blog_text p{
    padding: 0px 20px 12px !important;
}

.blog_btn p{
    color: #222 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    font-family: 'Ubuntu', sans-serif !important;
    text-transform: uppercase !important;
    display: inline-block;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.blog:hover .blog_btn p{
    color: #1675a9 !important;
}

.blog_btn i{
    color: #222 !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    font-family: 'Ubuntu', sans-serif !important;
    display: inline-block;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.blog:hover .blog_btn i{
    color: #1675a9 !important;
}

.blog_brows{
    text-align: center;
}

.blog_brows a{
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    width: 140px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    border: 1px solid #44b3ef;
    border-radius: 40px;
    margin-top: 60px;
    background: #146899;
    box-shadow: 0px 5px 15px 3px rgba(16, 109, 177, 0.3);
}

.blog_brows a:hover{
    color: #fff;
}

.footer_white{
    background: #fff;
    height: 100px;
}
/*================================================
                BLOG PART END
=================================================*/



/*================================================
                FOOTER PART START
=================================================*/
#footer_part{
    background: #1e1f20;
    padding: 55px 0px 55px;
}

.footer_logo a img{
    width: 70px;
    height: 32px;
    margin-top: 20px;
}

.logo_text p{
    color: #fff !important;
}

.footer_text p{
    color: #fff !important;
    font-size: 14px !important;
    margin-top: 25px !important;
}

.footer_icon ul li{
    display: inline-block;
    margin-right: 6px !important;
}

.footer_icon ul li a i {
    display: inline-block;
    color: #222;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    margin-top: 28px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.footer_icon ul li a i:hover{
    color: #fff;
    background: #1675a9;
    box-shadow: 0px 0px 5px 3px rgba(22, 117, 169, 0.3);
}

.footer_link h4{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 10px !important;
}

.footer_link ul li{
    margin-bottom: 20px !important;
}

.footer_link ul li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.footer_location{
    margin-bottom: 29px !important;
}

.footer_location h4{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 10px !important;
}

.footer_location p{
    color: #fff;
}

.footer_location p span{
    display: block;
}


.footer_image h4{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 15px !important;
}

.footer_image img{
    width: 100%;
    height: auto;
}
/*================================================
                FOOTER PART END
=================================================*/



/*================================================
                FOOTER END PART START
=================================================*/
#end_part{
    background: #1e1f20;
    padding: 15px 0px;
    border-top: 1px solid #ddd;
}

.end p{
    text-align: center;
    color: #fff !important;
}
/*================================================
                FOOTER END PART END
        -----------------------------------
          KROP TAMPLETE HOME PAGE CSS END
=================================================*/


/*=============================================================INNER PAGE CSS START================================*/


/*================================================
          INNER ABOUT BANNER PART START
=================================================*/
#inner_banner{
    background: linear-gradient(to top, #1778ad 0%, #239ddf 100%);
    padding: 155px 0px 90px;
}

.inner_b_text{
    margin: 0 auto;
    text-align: center;
}

.inner_b_text h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    margin-bottom: 9px !important;
}

.inner_b_text span a{
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.inner_b_text span i{
    font-size: 16px;
    color: #fff;
}
/*================================================
          INNER ABOUT BANNER PART END
=================================================*/



/*================================================
             INNER ABOUT PART START
=================================================*/
#inner_about{
    background: #fff;
    padding: 100px 0px;
}

.inner_a_img{
    position: relative;
}

.inner_a_img img{
    width: 100%;
    height: auto;
}

.inner_a_text h3{
    margin-bottom: 47px !important;
}

.inner_a_text span{
    color: #444;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif !important;
    line-height: 24px !important;
    display: block;
}

.in_ab_ghape1{
    margin-bottom: 20px;
}

.in_ab_ghape2{
    margin-bottom: 47px;
}

.in_ab_main{
    margin-bottom: 90px;
}

.in_ab_overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(22, 117, 169, 0.4);
}

.in_ab_overlay i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: rgba(22, 117, 169, 0.6);
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.25);
    animation: miron 2s linear infinite;
}

@keyframes miron{
    0%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    40%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.0), 0 0 0 0px rgba(255, 255, 255, 0.7);
    }
    80%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.0), 0 0 0 20px rgba(255, 255, 255, 0.0);
    }
    100%{
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.0), 0 0 0 20px rgba(255, 255, 255, 0.);
    }
}
/*================================================
             INNER ABOUT PART END
=================================================*/




/*================================================

     THIS HERE INNER SERVICE PAGE CSS START
   ------------------------------------------

=================================================*/

/* NO CSS CODE OF THIS INNER SERVICE PAGE.
THIS PAGE CSS AUTOMATICALLY INNER ABOUT CSS*/

/*================================================

      THIS HERE INNER SERVICE PAGE CSS END
   ------------------------------------------

=================================================*/




/*================================================
     THIS HERE INNER PROTFOLIO PAGE CSS START
   --------------------------------------------
=================================================*/
.hasan{
    margin-bottom: 30px;
}

.in_prot_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    background: rgba(68, 179, 239, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.prot_lg:hover .in_prot_overlay, 
.prot_md:hover .in_prot_overlay, 
.prot_sm:hover .in_prot_overlay, 
.prot_xsm:hover .in_prot_overlay {
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.in_prot_overlay ul li{
    display: inline-block;
    margin: 0px 3px !important;
}

.in_prot_overlay ul li a i{
    display: inline-block;
    font-size: 16px;
    color: #1675a9;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.in_prot_overlay ul li a i:hover{
    color: #fff;
    background: #1675a9;
}

.in_prot_overlay h5{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-top: 17px !important;
}

.in_prot_overlay h6{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-top: 3px !important;
}

.in_prot_cover{
    width: 400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*================================================
      THIS HERE INNER PROTFOLIO PAGE CSS END
   -------------------------------------------
=================================================*/




/*================================================
      THIS HERE INNER BLOG PAGE-1 CSS START
   --------------------------------------------
=================================================*/
#inner_blog{
    background: #fff;
    padding: 93px 0px 107px;
}

.in_b1_main{
    width: 345px;
    margin: 35px auto 0px;
}

.in_b1_btn{
    display: flex;
}

.in_b1_btn p{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 3px !important;
}

.in_b1_btn ul li{
    display: inline-block;
}

.in_b1_btn ul li a{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border: 1px solid #555;
}

.in_b1_blunk{
    padding: 10px 30px !important;
}
/*================================================
    THIS HERE INNER BLOG PAGE-1 PAGE CSS END
   -------------------------------------------
=================================================*/





/*================================================
     THIS HERE INNER BLOG PAGR-2 CSS START
   -------------------------------------------
=================================================*/
.in_b2_search input{
    float: left;
    border: 1px solid #ddd;
    background: transparent;
    width: 314px;
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
}

.in_b2_search input::placeholder{
    color: #999;
    font-size: 14px;
}

.in_b2_search button{
    float: right;
    border: 1px solid #ddd;
    border-left: none;
    background: transparent;
    width: 35px;
    height: 35px;
    line-height: 35px;
}

.in_b2_key h4{
    color: #151515;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    padding: 90px 0px 10px 0px !important;
    display: block;
}

.in_b2_cate{
    display: block;
    padding: 10px 0px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.in_b2_cate a{
    float: left;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.in_b2_cate a:hover{
    margin-left: 35px;
}

.in_b2_cate:hover a,
.in_b2_cate:hover p{
    color: #1675a9;
}

.in_b2_cate p{
    text-align: right;
    color: #444;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.in_b2_mixbtn button{
    border: none;
    background: none;
    color: #151515;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin: 40px 20px 0px 0px;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.in_b2_mixbtn button:hover{
    color: #1675a9;
}

.in_b2_mixmain .in_b2_mixcate:last-child{
    border-bottom: none;
}

.in_b2_mixcate{
    display: flex;
    padding: 30px 0px;
    border-bottom: 1px solid #ddd;
}

/*
.in_b2_miximg{
    width: 100px;
    height: 100px;
}

.in_b2_miximg img{
    width: 100%;
    height: 100%;
}
*/

.in_b2_mixtext{
    margin-left: 30px;
}

.in_b2_mixtext h4{
    color: #444;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

.in_b2_mixtext ul li{
    display: inline-block;
    color: #999;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 45px 12px 0px 0px !important;
}


.in_b2_video{
    width: 100%;
    height: 300px;
    margin-top: 30px;
    position: relative;
}

.in_b2_video img{
    width: 100%;
    height: 100%;
}

.in_b2_overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.7);
}

.in_b2_overlay i{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background: #1675a9;
    animation: miron 2s linear infinite;
}

@keyframes miron{
    0%{
        box-shadow: 0 0 0 0 rgba(22, 117, 169, 0.8), 0 0 0 0 rgba(22, 117, 169, 0.8);
    }
    40%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.0), 0 0 0 0px rgba(22, 117, 169, 0.8);
    }
    80%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.0), 0 0 0 20px rgba(255, 255, 255, 0.0);
    }
    100%{
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.0), 0 0 0 20px rgba(255, 255, 255, 0.);
    }
}
/*================================================
     THIS HERE INNER BLOG PAGR-2 CSS END
   -------------------------------------------
=================================================*/





/*================================================
      THIS HERE INNER BLOG PAGE-3 CSS START
   -------------------------------------------
=================================================*/
#inner_blog{
    background: #fff;
    padding: 93px 0px 107px;
}

.in_b3_main{
    width: 345px;
    margin: 35px 0px 0px;
}

.in_b3_btn{
    display: flex;
}

.in_b3_btn p{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 3px !important;
}

.in_b3_btn ul li{
    display: inline-block;
}

.in_b3_btn ul li a{
    color: #555;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    border: 1px solid #555;
}

.in_b3_blunk{
    padding: 10px 30px !important;
}
/*================================================
      THIS HERE INNER BLOG PAGE-3 CSS END
   -------------------------------------------
=================================================*/




/*================================================
      THIS HERE INNER BLOG PAGE-4 CSS START
   -------------------------------------------

             BLOG DETAILS PART START
=================================================*/
#b_details_part{
    background: #fff;
    padding: 98px 0px 60px;
}

.b_details_img{
    width: 100%;
    height: 400px;
}

.b_details_img img{
    width: 100%;
    height: 100%;
}

.b_details_head h4{
    color: #222;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-top: 23px !important;
}

.b_details_round{
    display: flex;
    padding-top: 30px;
}

.b_details_round img{
    border-radius: 50%;
}

.b_details_round p{
    color: #777;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Ubuntu', sans-serif !important;
    margin: 25px 0px 0px 15px !important;
}

.b_details_round p span{
    display: block;
    color: #777;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.b_details_social{
    text-align: right;
    margin-top: 65px;
}

.b_details_social ul li{
    display: inline-block;
    color: #777;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 10px !important;
}

.b_details_social ul li i{
    margin-right: 5px;
}

.b_details_text p{
    color: #222;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif !important;
    margin-top: 55px !important;
}

.b_details_text p span{
    display: block;
    margin-top: 25px;
}

.b_light_text{
    width: 100%;
    padding: 30px;
    background: #f1f1f1;
    position: relative;
    margin: 25px 0px 30px;
}

.b_light_text:after{
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 3px;
    height: 100%;
    background: #1675a9;
}

.b_light_text i{
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.in_details_video{
    width: 100%;
    height: 300px;
    position: relative;
}

.in_details_video img{
    width: 100%;
    height: 100%;
}

.in_details_overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(68, 68, 68, 0.7);
}

.in_details_overlay i{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
    background: #1675a9;
    animation: miron 2s linear infinite;
}

@keyframes miron{
    0%{
        box-shadow: 0 0 0 0 rgba(22, 117, 169, 0.8), 0 0 0 0 rgba(22, 117, 169, 0.8);
    }
    40%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.0), 0 0 0 0px rgba(22, 117, 169, 0.8);
    }
    80%{
        box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.0), 0 0 0 20px rgba(255, 255, 255, 0.0);
    }
    100%{
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.0), 0 0 0 20px rgba(255, 255, 255, 0.);
    }
}

.b_video_text p{
    color: #222;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif !important;
}

.b_video_text p span{
    display: block;
    margin-top: 20px;
}

.b_details_tag{
    display: flex;
    margin-top: 90px;
}

.b_details_tag h4{
    color: #222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.b_details_tag ul li{
    display: inline-block;
}

.b_details_tag ul li a{
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    padding: 5px !important;
    border: 1px solid #ddd;
    margin-left: 8px !important;
}

.b_details_share{
    display: flex;
    margin-top: 30px;
}

.b_details_share h4{
    color: #222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-top: 5px !important;
}

.b_details_share ul li{
    display: inline-block;
    margin-left: 8px !important;
}

.b_details_share ul li a i{
    display: inline-block;
    color: #777;
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    transition: all linear .4s;
    -webkit-transition: all linear .4s;
    -moz-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -o-transition: all linear .4s;
}

.b_details_share ul li a i:hover{
    color: #fff;
    background: #1675a9;
}
/*=================================================
               BLOG DETAILS PART END
==================================================*/





/*=================================================
              NEXT & PREVIOUS PART START
==================================================*/
#b4_previous{
    background: #fff;
    border-top: 1px solid #eee;
    padding: 60px 0px;
}

.post_content{
    margin-left: 28px;
}

.post_content h4{
    color: #444;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.b4_post{
    display: flex;
}

.b_post_round{
    display: flex;
    margin: 25px 0px 40px 0px;
}

.b_post_round img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.b_post_round p{
    color: #777;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: 'Ubuntu', sans-serif !important;
    margin: 7px 0px 0px 15px !important;
}

.b_post_round p span{
    display: block;
}

.post_content a{
    display: inline-block;
    color: #777;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'Ubuntu', sans-serif !important;
    text-transform: capitalize;
}

.b4_post2{
    display: flex;
}

.post_content2{
    margin-right: 28px;
}

.post_content2 h4{
    color: #444;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    text-align: right;
}

.b_post_round2{
    margin: 25px 0px 0px 0px;
}

.b_post_round2 img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: right;
}

.b_post_round2 p{
    color: #777;
    font-size: 14px !important;
    font-weight: 500 !important;
    font-family: 'Ubuntu', sans-serif !important;
    margin: 7px 15px 0px 0px !important;
    float: right;
    text-align: right;
}

.b_post_round2 p span{
    display: block;
}

.post_content2{
    text-align: right;
}

.post_content2 a{
    display: inline-block;
    color: #777;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'Ubuntu', sans-serif !important;
    text-transform: capitalize;
    margin: 45px 0px 0px 90px !important;
}
/*=================================================
             NEXT & PREVIOUS PART END
==================================================*/




/*=================================================
            COMMENT & REPLY PART START
==================================================*/
#b4_comment_head{
    background: #fff;
    padding: 25px 0px 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.b4_top h4{
    color: #222;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

#b4_comment{
    background: #fff;
    padding: 30px 0px 100px;
}

.b4_comment_main{
    display: flex;
}

.b4_comment_text{
    margin-left: 25px;
}

.b4_comment_text h4{
    color: #222;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-right: 130px !important;
    display: inline-block;
}

.b4_comment_text span{
    color: #999;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    display: inline-block;
}

.b4_comment_text p{
    margin-top: 5px !important;
    color: #444 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Open Sans', sans-serif !important;
}

.b4_comment_text a{
    color: #999;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.b4_comment_text h5{
    color: #222;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-right: 10px !important;
    display: inline-block;
}

.mahmud{
    margin: 28px 0px 28px 130px;
}

.b4_border{
    border-top: 1px solid #eee;
    padding-top: 30px;
}

.b4_leave input{
    display: inline-block;
    background: #fff;
    width: 265px;
    height: 35px;
    border: 1px solid #ddd;
    padding-left: 10px;
}

.b4_leave input::placeholder,
.b4_leave textarea::placeholder{
    color: #777;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

.b4_input{
    margin-left: 5px;
}

.b4_leave textarea{
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 10px 0px 0px 10px;
}

.b4_leave button{
    color: #fff;
    border: none;
    width: 100%;
    height: 37px;
    line-height: 37px;
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    background: #1675a9;
    margin-top: 10px;
}
/*================================================
            COMMENT & REPLY PART END

   -------------------------------------------
      THIS HERE INNER BLOG PAGE-4 CSS END
=================================================*/



/*================================================
      THIS HERE INNER BLOG PAGE-5 CSS START
=================================================*/
.b5_round{
    display: flex;
    padding-top: 30px;
}

.b5_round img{
    border-radius: 50%;
}

.b5_round p{
    color: #777;
    font-size: 14px !important;
    font-weight: 400 !important;
    font-family: 'Ubuntu', sans-serif !important;
    margin: 25px 0px 0px 15px !important;
}

.b5_round p span{
    display: block;
    color: #777;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.b5_social{
    text-align: right;
    margin-top: 65px;
}

.b5_social ul li{
    display: inline-block;
    color: #777;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 4px !important;
}

.b5_social ul li i{
    margin-right: 5px;
}

.b5_tag{
    display: flex;
    margin-top: 30px;
}

.b5_tag h4{
    color: #222;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
}

.b5_tag ul li{
    display: inline-block;
}

.b5_tag ul li a{
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    padding: 5px !important;
    border: 1px solid #ddd;
    margin-left: 8px !important;
}
/*================================================
      THIS HERE INNER BLOG PAGE-5 CSS END
=================================================*/





/*================================================

     THIS HERE INNER BLOG PAGE-6 CSS START
   ------------------------------------------

=================================================*/

    /* NO CSS CODE OF THIS INNER BLOG PAGE-6.
THIS PAGE CSS AUTOMATICALLY INNER BLOG PAGE-5 CSS*/

/*================================================

      THIS HERE INNER BLOG PAGE-6 CSS END
   ------------------------------------------

=================================================*/




/*=============================================================INNER PAGE CSS END================================*/








