	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/01/2020 13:29
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-customer-service:before { content: "\f100"; }
.flaticon-computer:before { content: "\f101"; }
.flaticon-phone:before { content: "\f102"; }
.flaticon-html:before { content: "\f103"; }
.flaticon-responsive:before { content: "\f104"; }
.flaticon-browser:before { content: "\f105"; }
.flaticon-experience:before { content: "\f106"; }
.flaticon-student:before { content: "\f107"; }
.flaticon-up:before { content: "\f108"; }
.flaticon-pin:before { content: "\f109"; }
.flaticon-email:before { content: "\f10a"; }